<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}public/styles/style.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}public/styles/pygments.css"/>

    <link rel="shortcut icon" href="{{site.baseurl}}public/favicon.png" />

    {% feed_meta %}
    {% seo %}
</head>
